<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/index/css/public.css" />
    <link rel="stylesheet" type="text/css" href="/static/layui-2.2.5/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="/static/index/css/css.css" />

    <script type="text/javascript" src="/static/index/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/index/js/public.js"></script>
    <script type="text/javascript" src="/static/layui-2.2.5/layui.js"></script>
    <script type="text/javascript" src="/static/js/admin/admin.js"></script>
    <script type="text/javascript" src="/static/js/admin/juris.js"></script>
</head>
<body>

<div style="margin-top: 20px;">
    <div>
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">所属分类</label>
                <div class="layui-input-inline">
                    <select name="praendid" lay-verify="required">
                        <option value="">请选择省</option>
                        {if condition="$data neq null"}
                        {foreach name="$data" item="val"}
                        <option value="{$val.id}" {if condition="$find.praendid eq $val.id"} selected {/if} >{$val.title}</option>
                        {/foreach}
                        {/if}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">权限名称</label>
                <div class="layui-input-inline" style="width: 30%">
                    <input type="text" name="title" value="{$find.title}" lay-verify="required" placeholder="权限名称" autocomplete="off" class="layui-input">
                    <input type="hidden" name="id" value="{$find.id}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">路由</label>
                <div class="layui-input-inline" style="width: 30%">
                    <input type="text" name="url"  value="{$find.url}" lay-verify="required" placeholder="路由" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline" style="width: 30%">
                    <input type="text" name="solf"  value="{$find.solf}"  placeholder="排序" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否隐藏</label>
                <div class="layui-input-block">
                    {if condition="$find.hide == '0'"}
                    <input name="hide" value="0" title="显示" checked="" type="radio">
                    <input name="hide" value="1" title="隐藏" type="radio">
                    {else /}
                    <input name="hide" value="0" title="显示" type="radio">
                    <input name="hide" value="1" title="隐藏" checked="" type="radio">
                    {/if}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    {if condition="$find.status == '0'"}
                    <input name="status" value="0" title="正常" checked="" type="radio">
                    <input name="status" value="1" title="禁用" type="radio">
                    {else /}
                    <input name="status" value="0" title="正常" type="radio">
                    <input name="status" value="1" title="禁用" checked="" type="radio">
                    {/if}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">快捷按键</label>
                <div class="layui-input-block">
                    {if condition="$find.quick == '0'"}
                    <input name="quick" value="0" title="是" checked="" type="radio">
                    <input name="quick" value="1" title="否"  type="radio">
                    {else /}
                    <input name="quick" value="0" title="是" type="radio">
                    <input name="quick" value="1" title="否" checked="" type="radio">
                    {/if}
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="edit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>