{include file="common/header" /}

{include file="common/memu" /}
<script type="text/javascript" src="/static/js/admin/supp.js"></script>
<body>
<div id="pageAll">
    <div class="pageTop">
        <div >
            <img src="/static/index/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
                href="#">充值管理</a>&nbsp;-</span>&nbsp;补单记录
        </div>
    </div>

    <div id="content" style="width: 100%;">
        <blockquote class="layui-elem-quote" style="height: 20px;">

        </blockquote>

        <table id="supp" lay-filter="supp"></table>
        <!-- balance 表格 显示 end-->
    </div>
    <!-- balance页面样式end -->
</div>

