{include file="common/header" /}

{include file="common/memu" /}
<script type="text/javascript" src="/static/js/admin/black.js"></script>
<body>
<div id="pageAll">
    <div class="pageTop">
        <div >
            <img src="/static/index/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
                href="#">商户管理</a>&nbsp;-</span>&nbsp;IP黑名单
        </div>
    </div>

    <div id="content" style="width: 100%;">
        <blockquote class="layui-elem-quote" style="height: 30px;">
            <button lay-filter="addFilter" class="layui-btn" lay-submit><i class="fa fa-search" aria-hidden="true"></i> 添加</button>
            <!--<button lay-filter="filter" class="layui-btn" lay-submit><i class="fa fa-search" aria-hidden="true"></i> IP过滤</button>-->
        </blockquote>

        <table id="black" lay-filter="black"></table>
        <!-- balance 表格 显示 end-->

        <script type="text/html" id="barBlack">
            <a class="layui-btn layui-btn-xs" lay-event="select">查看</a>
            <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>
    <!-- balance页面样式end -->
</div>