.totalRecharge h1{border-top: 1px solid #dedede;}
.layui-form-label{background: #FBFBFB;border-right: 1px solid #e6e6e6;padding: 0 15px;line-height: 40px;}
.layui-inline{border: 1px solid #e6e6e6;}
.layui-input-block{width: 280px;line-height: 40px;text-align: center;}
.layui-form-item{margin-left: 10px;}
.lineChart{margin: 20px 0 20px 10px;}
.layui-form-label{width: 160px;text-align: center;}
































